<div class="container">

  <h1><%= @mentoree.name %>'s profile</h1>

  <%= image_tag @mentoree.avatar_url, width: 250 %>

  <p>Github user: <%= @mentoree.github_username %></p>
  <p>Public repos: <%= @mentoree.public_repos %></p>
  <p>Last year contributions: <%= @mentoree.year_contributions %></p>

  <h2>Last contributions</h2>

  <% @mentoree_data.each do |contribution| %>
    <div class="border p-3 col-6 mb-3">

      <% if contribution[:type] == 'CreateEvent' %>
        <p class="fw-bold m-0">
          <%= contribution[:date].strftime("%a, %d %b %Y") %> - Created '<%= contribution[:repo_name] %>'
        </p>
      <% end %>

      <% if contribution[:type] == 'PushEvent' %>
        <p class="fw-bold">
          <%= contribution[:date].strftime("%a, %d %b %Y") %> - Pushed updates to
           <%= contribution[:repo_name] %>
        </p>
        <p class="fw-bold">Commits done (<%= contribution[:commits_count] %>)</p>
        <ul class="m-0">
          <% contribution[:commits].each do |commit| %>
            <li> <a href="<%= commit[:url] %>"><%= commit[:message] %></a></li>
          <% end %>
        </ul>
      <% end %>

      <p><%= contribution[:type] %></p>
    </div>
  <% end %>
</div>